body { 
  padding:0;
  margin:0; 
}

.view-container{
  height: 100%;
}

.col-base{
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.vertical-align-content{
  display: table-cell;
  vertical-align: middle;
}

.contenido {
  padding: 0px 30px 30px 30px;
}

.no-menu {
    border-bottom: 1px solid #d9dadc;
    padding: 30px 0 30px;
    margin-bottom: 30px;
    text-align: center;
}
#menu {
  position: relative;
}

.pokela-logo {
  width: 175px;
}

.show-border{
    border: 1px solid darkgreen;
}

.full-height{
    height: 100%;
}

.padding-15{
    padding: 15px;
}

.card-media {
  background-color: #999999; }

.content-collapse, .content-collapse-SubChapter{
    display: none;
    padding : 5px;
}

.navbar-fixed-top{
  z-index: 100 !important;
}

.md-toast.md-success-toast-theme{
    background-color: #207ec8;
    color: #fff;
    border-color: #207ec8;
}